
body {
  background-color: pink;
  
}
h2{
  
  font-family: verdana;
  font-size: 150%;
}
p  {
  color:brown;
  font-family: courier;
  font-size: 200%;
 
}
ul {
	font-size:150;
	color:black;
}
ol {
	font-size:150;
	color:black;
}
